<div class="card card-body">
    <div class="row">
        <div class="col-md-12">
            <label class="form-label" for="url-input">URL автора*</label>
            {% if result_id %}
            {{ comment.author_url }}
            {% else %}
            <input class="form-control" type="text" placeholder="https://..." value="{{ author_url_value }} "
                   id="comment-author-url-{{ comment_instance_id }}">
            {% endif %}
            
        </div>
        <div class="col-md-12">
            <label class="form-label" for="comment-date-{{ comment_instance_id }}">Дата публикации комментария*</label>
            <input class="form-control datetime-local" type="datetime-local" name="my_date_field"
                   id="comment-date-{{ comment_instance_id }}" value="{{ comment_date }}" required>
        </div>
        <div class="col-md-12">{{ language_type_section }}</div>
        <div class="col-md-12">
            <label class="form-label" for="comment-is-answer-{{ comment_instance_id }}">Является ответом*</label>
            <input type="checkbox" class="form-control" id="comment-is-answer-{{ comment_instance_id }}"
                   {% if comment_is_answer %}
                   checked="checked"
                   {% endif %}
            >
        </div>
        <div class="border mx-auto row border-info mt-20 mb-20">
            <fieldset class="col-md-6">
                {{ species_section }}
            </fieldset>
            <div class="col-md-6">
                {{ tonal_type_section }}
            </div>
            {{ tags_section }}
            <div class="col-md-12">
                <label class="form-label" for="comment-clarification-{{ comment_instance_id }}">Пояснения</label>
                <textarea class="form-control clarification" id="comment-clarification-{{ comment_instance_id }}"
                          rows="1" placeholder="Пояснение..."></textarea>
            </div>
        </div>
    </div>
</div>