{% load get_dict_value %}
<div class="row">
  <div class="card">
    <div class="card-header">
      <p class="card-text">
        <strong>Текст комментария:</strong> {{ comment.text }}
      </p>      
    </div>
    <div class="card-body">
      <h5 class="card-title">Добавил {{ comment.expert.name }}</h5>
      <p class="card-text">
        <strong>Комментарий является ответом?:</strong> {{ comment.is_answer }}
      </p>
      <p class="card-text">
        <strong>Язык комментария:</strong> {{ comment.language_type.name }}
      </p>
      <p class="card-text">
        <strong>Ресурс публикации комментария:</strong> 
        {{ comment.resource_type.name }}
      </p>
      <p class="card-text">
        <strong>Дата публикации комментария:</strong> {{ comment.date }}
      </p>
      <p class="card-text">
        <strong>Дата добавления комментария в систему:</strong> 
        {{ comment.create_date }}
      </p>
      <a class="nav-link btn btn-secondary" href="{{ comment.author_url }}">VISIT AUTHOR</a>

      {% if params|get_dict_value:'specie_needs_round' %} 
      {% include "dmm/specie/_specie_section.html" with species=species %} 
      {% endif %} 

      {% if params|get_dict_value:'tonal_type_needs_round' %} 
      {% include "dmm/tonal_type/_tonal_type_section.html" with tonal_types=tonal_types %}
      {% endif %} 

      {% include "dmm/tag/_tag_section.html" with tags=tags tag_ids_need_round=params|get_dict_value:'tag_ids_need_round' %} 

      {% for tag_id in params|get_dict_value:'tag_ids_need_round' %} 
      {{ tag_id }} 
      {% endfor %}
    </div>
  </div>
</div>

<div class="row comment mt-20" id="comment-instance-{{ comment_instance_id }}">
  <div class="col-md-{{ parameter_width }}">
    <textarea class="form-control border-primary" id="comment-text-{{ comment_instance_id }}" rows="1" placeholder="Комментарий {{ comment_instance_id }}...">{{ text }}</textarea>
    <div class="collapse comment-meta" id="comment-meta-{{ comment_instance_id }}">
      <div class="card card-body">
      </div>
    </div>
  </div>
  <div class="col-md-{{ label_width }}">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#comment-meta-{{ comment_instance_id }}" aria-expanded="false" aria-controls="collapseExample">Подробнее</button>
    <button class="btn btn-danger btn-sm comment-destroy" id="comment-destroy-{{ comment_instance_id }}" type="button">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>