<div class="row mt-5">
    <a class="nav-link btn btn-secondary" href="{{ result.url }}">VISIT: {{ result.title }}</a>
    <table class="table table-light table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 25%">Текст комментария</th>
                <th scope="col" style="width: 10%">Класс доступен для разметки</th>
                <th scope="col" style="width: 10%">Теги доступны для разметки</th>
                <th scope="col" style="width: 10%">Тональность доступна для разметки</th>
            </tr>
        </thead>
        <tbody>

            {% for key, value in need_round_comments.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ key.text }}</td>
                {% for key2, value2 in value.items %}
                <td>{{ value2 }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="nav-link btn btn-primary" href="{% url 'markup-comment-page' result.id %}">Разметить</a>
</div>