{% extends 'dmm/layout/main.html' %} {% block content %}
<div class="container">
  <h1 class="d-flex justify-content-center mt-20">Разметка комментариев</h1>
  {% include 'dmm/result/_result.html' %} 

  {% for comment, params in comments.items %} 
    {% include 'dmm/comment/_round.html' with comment=comment %}
  {% endfor %}
</div>
<!-- Add specie -->
<!-- Add tag -->
<div class="container">
  <div class="row">
    <!-- Add specie -->
    {% include 'dmm/specie/_form.html' %}
    <!-- Add tag -->
    {% include 'dmm/tag/_form.html' %}
  </div>
</div>
{% endblock content %} {% block scripts %} {% include 'dmm/result/_result.js' %}
{% endblock %}
