<div class="col-4 mt-5 border border-secondary rounded p-3 bg-light border">
    <h5>Раунд</h5>
    <b>Эксперт:</b>
    {{ comment_round.expert.name }}
    <br>
    <b>Класс:</b>
    {{ comment_round.specie }}
    <br>
    <b>Тональность:</b>
    {{ comment_round.tonal_type }}
    <br>
    <b>Теги:</b>
    {% for comment_round_tag in comment_round_tags %}
    {{ comment_round_tag.tag.name }}
    {% if comment_round_tag.is_present %}
    <i class="fas fa-check"></i>
    {% else %}
    <i class="fas fa-times"></i>
    {% endif %}
    {% endfor %}

</div>