<div class="row">
    <h3><span class="label label-default">Раунды</span></h3>
    <table class="table table-light table-striped">
      <thead class="table-light">
      <tr>
        <th scope="col" style="width: 5%">#</th>
        <th scope="col" style="width: 35%">Текст комментария</th>
        <th scope="col" style="width: 10%">Ожидает раунд</th>
        <th scope="col" style="width: 10%">Начать раунд</th>
      </tr>
      </thead>
      <tbody>
      {% for comment_round in comment_rounds %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ comment_round.comment__text }}</td>
          <td>2</td>
          <td><a class="nav-link btn btn-success disabled" href="">Разметить</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>