<div class="row">
    <div class="col-md-4">
      <div class="card text-center text-white  mb-3" id="total-orders">
        <div class="card-body">
          <h3 class="card-title"> {{ stats.waiting_round1 }}</h3>
        </div>
        <div class="card-header">
          <h5 class="card-title">комментариев, ожидающих I раунд</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center text-white  mb-3" id="total-orders">
        <div class="card-body">
          <h3 class="card-title"> {{ stats.waiting_round2 }}</h3>
        </div>
        <div class="card-header">
          <h5 class="card-title">комментариев, ожидающих II раунд</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center text-white  mb-3" id="total-orders">
        <div class="card-body">
          <h3 class="card-title"> {{ stats.waiting_round3 }}</h3>
        </div>
        <div class="card-header">
          <h5 class="card-title">комментариев, ожидающих III раунд</h5>
        </div>
      </div>
    </div>
  </div>