{% extends 'dmm/layout/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Create a Book</h1>
    <form method='POST' action='' enctype="multipart/form-data" novalidate id="book-form">{% csrf_token %}
        <label for="book-title" class="control-label">Book Title</label>
        {{form.title }}
        <br><br>
        <label for="book-author" class="control-label">Book Author</label>
        {{form.author }}
        <a href="/author/create" id="add_author" onclick="return showAddPopup(this);"><img src="{% static '/images/icon-addlink.svg' %}"></a>
        <a id="edit_author" style="cursor: pointer; cursor: hand;"><img src="{% static '/images/icon-changelink.svg' %}"></a>
        <br><br>
        <label for="book-price" class="control-label">Book Price</label>
        {{form.price }}
        <br><br>
        <label for="book-publish" class="control-label">Book Publish</label>
        {{form.publish }}
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    function showEditPopup(url) {
        var win = window.open(url, "Edit",
            'height=500,width=800,resizable=yes,scrollbars=yes');
        return false;
    }

    function showAddPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^add_/, '');
        href = triggeringLink.href;
        var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
        win.focus();
        return false;
    }

    function closePopup(win, newID, newRepr, id) {
        $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
        win.close();
    }
</script>
{% endblock %}