<div class="col-form-label"><b>Класс комментария*:</b></div>
<div class="">
    {% for specie in species %}
    {% with tooltip='Описание: '|add:specie.description|add:'. Автор: '|add:specie.expert.name|add:'.' %}
    <div class="form-check">
        <input type="radio" value="{{ specie.id }}" class="specie form-check-input"
               name="comment-specie-radio-{{ comment_instance_id }}"
               {% if specie.id in specie_checked_ids %}
               checked="checked"
               {% endif %}
               required>
        <label class="form-check-label" for="gridRadios2" data-toggle="tooltip" data-placement="top"
               title="{{ tooltip }}">{{ specie.name }}</label>
    </div>
    {% endwith %}

    {% endfor %}
</div>
